.shopItemsImages {
  width: 250px;
  height: 250px;
}

.shopItemsList {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: start;
  justify-content: space-between;
  width: 60%;
}

.shopItemsList > p {
  list-style-type: none;
  margin-left: 80px;
  margin-top: 10px;
}

.shopItemsName {
  width: 250px;
}

.shopItemsPrice {
  margin-top: 20px;
}

.shopBlocksContainer {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

.shopCategories {
  text-align: start;
}

.shopSortBy{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: red;
}

.arrowLogo {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 130px;
}

.displaty{
  display: block;
}

.logoRotate {
  transform: rotate(-180deg);
  transition-duration: 300ms;
}
