.shopItemsImages {
  width: 250px;
  height: 250px;
}

.shopItemsList {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-align: start;
  justify-content: space-between;
  width: 60%;
}

.shopItemsList > p {
  list-style-type: none;
  margin-left: 80px;
  margin-top: 10px;
}

.shopItemsName {
  width: 250px;
}

.shopItemsPrice {
  margin-top: 20px;
}

.line {
  width: 68%;
  height: 1px;
  background-color: gray;
  margin: 0 auto;
  margin-top: 10px;
  display: inline-block;
}

.shopBlocksContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.shopCategoriesLine {
  width: 200px;
  height: 1px;
  background-color: black;
}

.shopCategories {
  text-align: start;
}

.categoryContainerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
