.AccMain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
    height: 100%;
    margin: auto;
}

@font-face {
    font-family: myFirstFont;
    src: url(../../assets/images/static/Quicksand-Light.ttf);
  }
.AccMain *{
    font-family: myFirstFont ;
}