.AccMain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1300px;
    height: 100%;
    margin: auto;
    font-family: myFirstFont ;
    padding-bottom: 50px;
    
}

@font-face {
    font-family: myFirstFont;
    src: url(../../assets/images/static/Quicksand-Light.ttf);
  }

  h3{
    width: 66%;
    margin-bottom: 150px;
    font-size: 32px !important;
}

h1{
    font-size: 40px !important;
}