.shopCategoriesTypes {
  text-align: start !important;
}

.shopCategoriesTypes > div {
  margin-bottom: 30px !important;
}

/* [type="checkbox"] {
  position: initial !important;
  opacity: 1 !important;
  pointer-events: all !important;
} */
