.footerContainer {
  padding: 80px;
  background-color: #cea492;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  text-align: start;
}

.footer_active {
  text-decoration: none;
  color: black;
}

.footerList > li {
  list-style: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin-bottom: 20px;
  align-content: flex-start;
}

.footerList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.footerList_lastPart {
  margin-top: 50px;
}

.footerlink {
  text-decoration: none;
  color: white;
  text-align: start;
}

.footerlink:hover {
  color: black;
  transition: 0.3s all;
}

.socialNetworkLinks {
  align-items: flex-start;
  flex-direction: row;
  display: flex;
  margin-top: 200px;
}

.socialNetworkLogo {
  width: 35px;
  height: 35px;
  margin-left: 25px;
}


.costumerPhoto {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin: 0;
  padding: 0;

}
.socialNetworkLogo:hover{
    opacity: 1;
}